.background {
  &-decorative-img {
    position: absolute;
  
    &-1 {
      max-width: 15rem;
      left: -7rem;
      top: -4rem;
    }
    &-4 {
      max-width: 15rem;
      right: -1rem;
      top: 70rem;
    }
  }
}

.container-wrapper {
  &-decorative-img {
    position: absolute;
    z-index: 1;

    &-2 {
      max-width: 15rem;
      right: -13rem;
      top: 10rem;
    }
    &-3 {
      max-width: 15rem;
      left: -13rem;
      top: 45rem;
    }
  }
}