@import 'fonts';

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.375rem;
}

@media (max-width:767px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.375rem;
    }
    h3 {
        font-size: 1.1rem;
    }
}

p {
    font-family: "Proxima Nova";
    font-weight: 400;
}

body {
    background-color: #FFDF8C;
}

#root {
    overflow: hidden;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    overflow: auto;

    max-width: 1250px;
    margin: 2.5rem auto;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
        margin: 2.5rem auto;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
        margin: 2.5rem auto;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: none;
        margin: 2.5rem auto;
    }
}

header {
    margin: 2.5rem 2.375rem 2.5rem;
    border-bottom: 1px solid #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 2.1rem;
}

.header-logo {
    max-width: 20rem;
    height: 3rem;

    display: flex;
    align-items: center;

    &-img {
        width: 38px;
    }

    &-text {
        margin-left: 1rem;
        h2 {
            font-size: 1.5rem;
            font-family: "Proxima Nova";
            font-weight: 800;
            line-height: 29px;
        }
        p {
            font-size: 1rem;
            line-height: 19.5px;
        }
    }
}

@media (max-width:767px) {
    header {
        margin: 1.5rem 1.375rem;
        padding-bottom: 2.1rem;
    }

    .header-logo-text {
        margin-left: .5rem;
        h2 {
            font-size: 1rem;
            line-height: 20px;
        }
        p {
            display: none;
        }
    }
}

.header-cart-button {
    width: 9.375rem;
    height: 3.125rem;
    background-color: #FE5F1E;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: .75rem 1.3rem;
    p {
        font-size: .9rem;
        font-family: "Proxima Nova";
        font-weight: 700;
        color: #fff;
    }

    &-price {
        padding-right: .8rem;
        border-right: 1px solid rgba(255, 255, 255, 0.25);
    }

    &-cart_icon {
        margin: 0 .5rem 0 .8rem;
    }
}

// CONTENT

.content {
    margin: 0 3.5rem 4rem;
}

@media (max-width:767px) {
    .content {
        margin: 0 2rem 4rem;
    }
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-button {
        padding: .9rem 1.5rem;
        margin-right: .55rem;
        border-radius: 30px;
        border: none;
        background-color: #F9F9F9;

        font-family: "Proxima Nova";
        font-weight: 500;
        font-size: 1rem;

        &-active {
            color: #fff;
            background-color: #282828;
        }
    }
    &-button:hover {
        background-color: #eeeeee;
    }
    &-button-active:hover {
        background-color: #282828;
    }

    &-sorting {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: relative;

        p {
            margin-left: .5rem;
            font-size: .875rem;
        }

        &-label {
            font-family: "Proxima Nova";
            font-weight: 700;
        }

        &-method {
            color: #FE5F1E;
        }
        &-method::after {
            content: "";
            width: 100%;
            border-bottom: 1px dotted #FE5F1E;
            display: block;
            margin-top: .2rem;
        }

        &-menu {
            width: 6.7rem;
            height: 8.5rem;

            position: absolute;
            z-index: 100;
            right: 2px;
            bottom: -9rem;

            padding-top: .875rem;

            background-color: #fff;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
            border-radius: 16px;

            &-item {
                width: 100%;
                height: 2.375rem;
                padding: .688rem .7rem .625rem;

                &-active {
                    background-color: rgba(#FE5F1E, 0.05);
                    p {
                        color: #FE5F1E;
                        font-family: "Proxima Nova";
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

@media (max-width:1023px) {
    .filters {
        flex-direction: column;

        &-button {
            padding: .6rem 1rem;
            margin: 0 .55rem .5rem 0;
            font-size: .8rem;
    
            &-active {
                color: #fff;
                background-color: #282828;
            }
        }
    }
}

.products {
    margin: 2rem auto;
}

.product-card {
    margin: 0 2rem 1rem;
    display: inline-block;
    text-align: center;

    &-img {
        max-width: 13rem;
        margin-bottom: .7rem;
    }

    &-name {
        font-size: 1.25rem;
        font-family: "Proxima Nova";
        font-weight: 700;
    }

    &-options {
        width: fit-content;

        font-size: .875rem;
        font-family: "Proxima Nova";
        font-weight: 700;
        background-color: #F3F3F3;
        border-radius: 10px;

        padding: .45rem .35rem 0;
        margin: 1.4rem auto 1rem;

        overflow: hidden;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;

            margin-bottom: .45rem;

            li {
                padding: .625rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            li.active {
                background-color: #FFFFFF;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
                border-radius: 5px;
            }
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-price {
        font-family: "Proxima Nova";
        font-weight: 700;
    }

    &-button {
        font-family: "Proxima Nova";
        font-weight: 700;
        font-size: 1rem;
        color: #EB5A1E;

        background: #FFFFFF;
        border: 1px solid #EB5A1E;
        border-radius: 30px;

        padding: .5rem 1rem;
        width: auto;

        display: flex;
        align-items: center;
        justify-content: space-around;

        strong {
            font-size: 1.4rem;
            margin-right: .5rem;
        }

        .added_amount {
            width: 1.375rem;
            height: 1.375rem;

            color: #fff;
            font-size: .8rem;
            background-color: #EB5A1E;
            border-radius: 50%;

            margin-left: .5rem;

            align-items: center;
            justify-content: center;

            display: none;

            &.active {
                display: flex;
            }
        }
    }

    &-button:hover {
        color: #fff;
        background: #EB5A1E;

        .added_amount {
            color: #EB5A1E;
            background-color: #fff;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 1rem;

    p {
        font-size: .8rem;
        color:  #000;
    }
}



// CART
.cart, .empty-cart {
    max-width: 51rem;
    margin: 0 auto;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 2rem;
    border-bottom: 1px solid #F7F7F7;

    &-logo {
        font-family: "Proxima Nova";
        font-weight: 700;
        display: flex;
        align-items: flex-start;
        justify-content: center;


        img {
            width: 1.8rem;
            margin-right: 1rem;
        }
    }

    &-clear {
        color: #B6B6B6;
        font-size: 1rem;
        background-color: white;
        border-radius: 50px;
        border: none;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        img {
            margin-right: .5rem;
        }
    }
}


.cart-item {
    padding: 1.9rem 0;
    border-bottom: 1px solid #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-info {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 5rem;
        }

        &-text {
            margin-left: 1rem;

            h3 {
                font-family: "Proxima Nova";
                font-weight: 700;
                margin-bottom: .25rem;
            }

            p {
                color: #8D8D8D;
                font-size: 1.125rem;
            }

        }
    }

}

.cart-item:last-child {
    border: none;
    padding-bottom: 2.5rem;
}

.cart-item-actions {
    display: flex;
    align-items: center;
    font-family: "Proxima Nova";
    font-weight: 700;

    button {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        width: 1.8rem;
        height: 1.8rem;

        background-color: #FFFFFF;
    }

    &-minus, &-plus {
        color: #FE5F1E;
        border: 2px solid #FE5F1E;
        margin: 0 .75rem;
        font-size: .7rem;
    }

    &-minus:hover, &-plus:hover {
        color: #fff;
        background-color:  #FE5F1E;
    }

    &-price {
        margin: 0 5.5rem 0;
    }

    .cart-delete-button {
        border: 2px solid #D7D7D7;
                
        img {
            width: .8rem;
            height: .8rem;
        }
    }

    .cart-delete-button:hover {
        border: 2px solid #000;
        background: #000;
                
        img {
            width: .8rem;
            height: .8rem;
        }
    }
}

@media (max-width:767px) {
    .cart-item {
        flex-direction: column;

        &-info {
            margin-bottom: 1rem;
        }

        &-actions-price {
            margin: 0 1rem 0;
        }
    }
}

.cart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Proxima Nova";
    font-weight: 400;

    &-quantity {
        font-family: "Proxima Nova";
        font-weight: 700;
    }

    &-sum {
        font-family: "Proxima Nova";
        font-weight: 700;
        color: #FE5F1E;
    }
}

@media (max-width:767px) {
    .cart-total {
        max-width: 30rem;
        margin: 0 auto;
    }
}

.cart-bottom-buttons {
    margin-top: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-go-back {
        background: #FFFFFF;
        border: 1px solid #D3D3D3;
        border-radius: 30px;

        color: #CACACA;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 1rem 2rem;

        .go-back-arrow {
            width: .45rem;
            margin-right: .6rem;
        }
    }

    &-buy-now {
        padding: 1rem 2rem;
        font-family: "Proxima Nova";
        font-weight: 700;
        color: #fff;
        background: #FE5F1E;
        border-radius: 30px;
        border: none;
    }
}

@media (max-width:767px) {
    .cart-bottom-buttons {
        max-width: 30rem;
        margin: 2rem auto 0;
        &-go-back{
            padding: .6rem 1.1rem;
        }

        &-buy-now {
            padding: .7rem 1.2rem;
        }
    }
}

// EMPTY CART

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    h1 {
        font-family: "Proxima Nova";
        font-weight: 700;
        margin-bottom: .625rem;
    }

    p {
        color: #777777;
        font-size: 1.125rem;
        margin-bottom: .3rem;
    }

    img {
        max-width: 18.75rem;
        margin: 2.9rem auto;
    }

    &-go-back {
        color: #fff;
        font-family: "Proxima Nova";
        font-weight: 700;
        background: #282828;
        border-radius: 30px;
        border: none;

        padding: .9rem 2rem;
    }
}

@media (max-width:767px) {
    .empty-cart {
        p {
            font-size: 1rem;
        }

        img {
            max-width: 13rem;
            margin: 1rem auto;
        }
    }

}